.footer {
	position: relative;
	z-index: 200;
	width: 100%;
	min-height: 56px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #D9C7B8;
	padding-bottom: 16px;
	margin-top: auto;
}

.footer__linksWrapper {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.footer__legalLink {
	font-size: clamp(0.75rem, 0.37037037037037035vw + 0.6666666666666666rem, 1rem);
	color: var(--primaryColor);
}

@media (hover: hover) {
	.footer__legalLink:hover {
		color: black;
		text-decoration-thickness: 2px;
	}
}

@media (min-width: 700px) {
	.footer__linksWrapper {
		width: 66.388%;
	}
}