/* @import url(./fonts.css); */
@import url(./common.css);
@import url(./navbar.css);
@import url(./header.css);
@import url(./bio.css);
@import url(./cards.css);
@import url(./footer.css);

:root {
	--primaryColor: #010440;
	--secondaryColor: #023859;
	--popupWrapperTopClearance: 0;
}

html {
	font-family: 'Jost', sans-serif;
	font-size: 16px;
}

body {
	min-height: 100vh;
	min-width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	line-height: 1;
}

button:active {
	box-shadow: none;
}

.pageWrapper {
	width: 100%;
	min-width: 260px;
	max-width: 1440px;
	margin-bottom: 32px;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.showMoreButton {
	font-family: 'Jost', sans-serif;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	color: white;
	border-radius: 8px;
	background-color: var(--secondaryColor);
	margin: 16px 0 0 0;
	padding: 4px 8px 4px 8px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.segmentDivider {
	width: 80px;
	height: 0;
	border: 1px solid var(--secondaryColor);
	border-radius: 8px;
	margin: 16px auto 16px auto;
}

@media (hover: hover) {
	button {
		cursor: pointer;
	}
}

@media (min-width: 700px) {
	.showMoreButton {
		display: none;
	}
}

@media (min-width: 1440px) {
	main {
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: flex-start;
		margin: 16px 0 0 0;
	}
}